<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.mybatis.step01.UserMapper">
    <!-- 1.如果接口方法就一个参数,这里不用写,可以直接取值 -->
    <select id="selectUser" resultType="com.sky.mybatis.step01.User">
    select a.id,a._create_time createtime,a.nickname,a.usercode,a.phone from sys_user a where a.id = #{id}
  </select>

    <!-- 2.多个参数的情况下
     直接where a.id = #{id} and phone= #{phone}执行结果:
     Parameter 'id' not found. Available parameters are [arg1, arg0, param1, param2]
     -->
    <select id="selectUserByPhone" resultType="user">
    select a.id,a._create_time createtime,a.nickname,a.usercode,a.phone from sys_user a where a.id = #{param1} and phone= #{param2}
  </select>

    <select id="selectUserByMap" resultType="user">
    select a.id,a._create_time createtime,a.nickname,a.usercode,a.phone from sys_user a where a.id = #{id} and phone= #{phone}
  </select>

    <select id="searchUsers" resultType="user">
    select a.id,a._create_time createtime,a.nickname,a.usercode,a.phone from sys_user a
  </select>

    <select id="searchUserCodeLike" resultType="user">
    select a.id,a._create_time createtime,a.nickname,a.usercode,a.phone from sys_user a where a.usercode like #{id}
  </select>

    <select id="selectUserWithMap" resultType="Map">
    select a.id,a._create_time createtime,a.nickname,a.usercode,a.phone from sys_user a where a.id = #{id}
  </select>

    <!--Map<String,User> searchUserCodeLikeWithMap(String code);-->
    <select id="searchUserCodeLikeWithMap" resultType="user">
    select a.id,a._create_time createtime,a.nickname,a.usercode,a.phone from sys_user a where a.usercode like #{code}
  </select>
</mapper>